.img{
    width: 100px;
    height: 100px;
}
.img img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
fa-icon{
    font-size: 1em;
    color: white;
}
#red{
    color: rgb(121,0,10);
}
#yellow{
    color: rgb(156,159,0);
}
#green{
    color: rgb(8,121,0);
}
button{
    margin-left: 15px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: none;
}
.playList{
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    border-bottom: 1px solid #183D3D;
}
.playList .head{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.musics{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
    width: 100%;
}
.musics .mus{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.listItems {
    width: 100%;
    position: relative;
}

.listItems .item {
    width: 100%;
    display: flex;
    flex: 1;
    cursor: pointer;
    gap: 1em;
    transition: all 0.3s ease;
}
.listItems .item:hover {
    background-color: rgba(24, 61, 61, 0.1);
}
.data{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.performer{
    color: #183D3D;
}
.listItems button{
    position: absolute;
    right: 15px;
    top: 20px;
}