:root {
    --color1: #ffffff;
    --color2: #000000;
    --color3: #040D12;
    --color4: #183D3D;
    --color5: #5C8374;
    --color6: #93B1A6;
}

fa-icon{
    font-size: 1em;
    color: white;
}
.playList{
    display: flex;
    justify-content: space-between;
    margin: 0 14px;
    padding: 1em;
    border-bottom: 1px solid var(--color5);
}
#red{
    color: rgb(121,0,10);
}
#yellow{
    color: rgb(156,159,0);
}
#green{
    color: rgb(8,121,0);
}
button{
    margin-left: 15px;
    background-color: transparent;
    color: var(--color1);
    cursor: pointer;
    border: none;
}
.all{
    padding-top: 1em;
}
